<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand btn">
    <img src="assets/images/marvel.png" width="100" height="30" class="d-inline-block align-top">
  </a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hero">Nouveau</a>
      </li>
    </ul>

  </div>
</nav>
