<table class="table table-striped mt-3">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Personnage</th>
    <th scope="col">Nom</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let character of allCharacter| paginate: { id: 'checks_pagination',
      itemsPerPage: 4,
      currentPage: page}; index as i">
    <th scope="row">{{ i + 1}}</th>
    <td>
      <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" height="200" width="200">
    </td>
    <td>
      {{ character.name }}
    </td>

  </tr>
  </tbody>
</table>
<pagination-controls  id="checks_pagination" (pageChange)="page = $event" nextLabel="Suivant"
                      previousLabel="Précedent" autoHide="false">
</pagination-controls>
